@import "../css/reset.css";

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}

$background: #FAFBFF;
$line: #DEE1ED;

$black: #1B234A;
$dark-blue: #616F97;
$turquoise:#40B3B7;
$dark-turquoise: #36A1AF;
$white: #FFFFFF;
$yellow: #FFF4CC;
$mint: #DAFBF1;
$grey: #A0A8C5;

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: $background;
    color: $black;
}

/* Main style*/
.main{
    padding-top: 109px;
}
.wrapper{
    max-width: 886px;
    margin: 0 auto;
    padding: 0 20px;
}
.main__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 24px;
}
.main__box{
    width: 100%;
    padding: 27px 64px 32px;
    background-color: $white;
    box-shadow: 0px 0px 1px rgba(27, 35, 74, 0.15), 0px 4px 6px rgba(27, 35, 74, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.main__box-img{
    width: 464px;
    margin-bottom: 32px;
    img{
        width: 100%;
        height: auto;
    }
}
.main__box-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: center;
}
.main__box-description{
    width: 100%;
    line-height: 28px;
    color: $dark-blue;
    text-align: center;
    margin-bottom: 40px;
}
.main__box-button{
    display: flex;
    align-items: center;
    padding: 15px 16px;
    background: $turquoise;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: $white;
    &:focus, &:active, &:hover{
        background: $dark-turquoise;
        .button-text{
            border-right: 1px solid $turquoise;
        }
    }
}
.button-text{
    display: inline-block;
    border-right: 1px solid $dark-turquoise;
    padding-right: 16px;
}
.button-coin{
    display: inline-block;
    padding-left: 16px;
}
.coin{
    display: inline-block;
    margin-right: 4px;
    background: url(../img/icon/coin.svg);
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

/* Modal form style */
.modal__wrapper{
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  transparentize($black, .3);
}
.modal__content{
    position: relative;
    max-width: 763px;
    margin: 5% auto;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(27, 35, 74, 0.25);
}
.form__data__wrap{
    padding: 0px 32px 34px;
    border-bottom: 1px solid $line;
}
.form__data__header{
    padding: 32px 32px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__data__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.close-main{
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url(../img/icon/main-close.svg);
}
.form__data-subtitle{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}
.form__description-box{
    width: 100%;
    padding: 16px;
    background-color: $yellow;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
}
/* Radio */
.form__radio-wrap{
    margin-bottom: 26px;
    .main__label{
        margin-bottom: 18px;
    }
}
.main__label{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.radio{
    display: block;
    width: 20%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 28px;
    &:last-child{
        margin-bottom: 0px;
    }
}
.radio__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.radio__box{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/radio-off.svg);
    margin-left: -28px;
    cursor: pointer;
}
.radio__input:checked + .radio__box{
    background-image: url(../img/icon/radio-on.svg);
}

/* text input */
.form__input-wrap{
    margin-bottom: 24px;
    .main__label{
        margin-bottom: 4px;
    }
}
.text__input{
    width: 100%;
    height: 48px;
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 10px 12px;
    line-height: 28px;
    margin-bottom: 8px;
    &::-webkit-input-placeholder {color: $grey; font-family: 'Montserrat', sans-serif;}
    &::-moz-placeholder          {color: $grey; font-family: 'Montserrat', sans-serif;}
    &:-moz-placeholder           {color: $grey; font-family: 'Montserrat', sans-serif;}
    &:-ms-input-placeholder      {color: $grey; font-family: 'Montserrat', sans-serif;}
}
.options__wrap{
    display: flex;
    flex-wrap: wrap;
}
.option{
    padding: 6px 13px 6px 9px;
    display: flex;
    align-items: center;
    background: $mint;
    border-radius: 4px;
    margin: 8px 8px 0px 0px;
}
.option-name{
    margin-right: 12px;
    font-size: 14px;
    line-height: 20px;
    color: $turquoise;
}
.close-option{
    cursor: pointer;
    color: $turquoise;
    &::before{
        font-size: 12px;
    }
}
/* Check */
.form__check__title{
    line-height: 28px;
    margin-bottom: 8px;
}
.form__check__subtitle{
    font-size: 12px;
    line-height: 18px;
    color: $grey;
    margin-bottom: 16px;
}
.checkbox__wrap{
    width: 100%;
    display: flex;
}
.checkbox__item{
    width: 50%;
    .main__label{
        margin-bottom: 18px;
    }
}
/* Checkbox */

.check{
    display: block;
    width: 70%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 28px;
    &:last-child{
        margin-bottom: 0px;
    }
}
.check__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.check__box{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/check-off.svg);
    margin-left: -28px;
    cursor: pointer;
}
.check__input:checked + .check__box{
    background-image: url(../img/icon/check-on.svg);
}
/* Button */
.form__button__wrap{
    padding: 31px 32px 32px;
}
.form__button{
    border: none;
    padding: 16px 38px;
    background: $turquoise;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: $white;
    &:focus, &:active, &:hover{
        background: $dark-turquoise;
    }
}













@media (max-width: 768px){
    .main{
        padding-top: 50px;
    }
    .main__title{
        font-size: 30px;
    }
    /* Modal */
    .modal__content{
        margin: 0;
        max-width: unset;
        width: 100%;
        border-radius: unset;
    }
    .form__data__header{
        position: relative;
        justify-content: center;
        padding: 15px 21px;
        box-shadow: 0px 0px 1px rgba(27, 35, 74, 0.15), 0px 4px 6px rgba(27, 35, 74, 0.06);
    }
    .close-main{
        position: absolute;
        left: 32px;
    }
    .form__data__wrap{
        padding: 24px 32px 34px;
    }
}

@media (max-width: 479px){
    .wrapper{
        padding: unset;
    }
    .main{
        padding-top: 16px;
        margin-bottom: 0px;
        height: 100vh;
    }
    .main__title{
        padding-left: 16px;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .main__box{
        padding: 44px 13px 28px;
        margin-bottom: unset;
    }
    .main__box-img{
        width: 100%;
        margin-bottom: 33px;
    }
    .main__box-title{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    .main__box-description{
        font-size: 14px;
        line-height: 20px;
        max-width: 343px;
        margin-bottom: 32px;
    }
    /* Modal */
    .close-main{
        left: 21px;
    }
    .form__data__title{
        font-size: 14px;
        line-height: 18px;  
    }
    .form__data__wrap{
        padding: 24px 16px 0px;
        border-bottom: unset;
    }
    .form__check__subtitle{
        margin-bottom: 24px;
    }
    .checkbox__wrap{
        flex-wrap: wrap;
    }
    .checkbox__item{
        width: 100%;
        margin-top: 24px;
        &:first-child{
            margin-top: 0px;
        }
    }
    .form__button__wrap{
        padding: 42px 16px 25px;
    }
    .form__button{
        width: 100%;
    }
}